* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/background.png');
  color: white;
  font-family: Courier New , Courier , monospace;
}

img {
  width: 90%;
}

.App {
  text-align: center;
}

.start {
  border-radius: 10px;
  margin: 10px auto;
  text-align: center;
  width: 95%;
}

.title {
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.planet-container {
  margin: 10px auto;
  width: 90%;
}

.planet {
  display: inline-block;
  margin: 10px 15px;
  text-align: center;
  width: 10%;
}

.planet img:hover {
  transform: scale(1.2);
}

.mission-container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px auto;
  width: 95%;
}

.mission-card {
  border: 2px double white;
  border-radius: 10px;
  display: inline-block;
  margin: 5px auto;
  padding: 10px;
  width: 30%;
}

.mission-name {
  text-align: center;
}

@media screen and ( max-width : 900px ) {

  .planet-container, .mission-container {
    width: 90%;
  }

  .planet-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .planet {
    margin: 5px auto;
    width: 30%;
  }

  .mission-card {
    display: flex;
    flex-flow: column wrap;
    margin: 10px auto;
    width: 92%;
  }
}
